[Unit]
Description=Execute backup every day at 04:00

[Timer]
OnCalendar=*-*-* TIME
Unit=backup.service

[Install]
WantedBy=multi-user.target
